@use '../Estilos-Sass/base/base';

.cont-lateral{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:6em;
  padding: 1em;
  >h1{
    color: var(--Dev-Color1);
    >span{
      color: var(--Dev-Color2);
    }
  }
  >ul{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5em;
    >li{
      list-style: none;
      font-family: var(--Font-Noto);
      font-weight: 500;
      color: var(--Font-Color1);
    }
    >li:hover{
      color:var(--Dev-Color1);
      font-weight: 700;
      cursor:pointer;
    }
    .active-li{
      color:var(--Dev-Color1);
      font-weight: 700;
    }
  }
}